<section id="contactusblock1" class="no-margin">
    <content name='contactusbanner153' id='153' > </content>
</section><!--/#main-slider-->

<section id="contactusblock2" class="no-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                <h2 class="background"><content name='contactusblock2h2154' id='154' > </content></h2>
            </div>
        </div>
    </div>
</section>



<section id="contactusblock3" class="no-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 contactusblock3left">
                <form angular-validator-submit="contactsubmit()"  name="contactForm"  class="form-horizontal" novalidate angular-validator>
                   <div class="form-group">
                       <input type="text" class="form-control" name="fullname" placeholder="Full Name"

                              ng-model="form.fullname"

                              required-message="'Full name can not be blank.'"
                              required>
                   </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email"
                               ng-model="form.email"

                               required-message="'Email can not be blank.'"

                               invalid-message="'Enter valid email address.'"

                               required >

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="phone_no" placeholder="Phone Number"
                               ng-model="form.phone_no"

                               required-message="'Phone Number can not be blank.'"
                               required>
                    </div>
                   <div class="form-group">
                       <textarea class="form-control" placeholder="Message" rows="6" name="message"

                                 ng-model="form.message"

                                 required-message="'Message can not be blank.'"
                                 required>

                       </textarea>
                   </div>
                   <label class="termscondition">Terms and Conditions</label>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 contactusblock3right">
                    <div class="contact-infobox">
                        <content name='contactinfo156' id='156' > </content>
                    </div>
                    <div class="clearfix"></div>
                    <p class="imagemail">
                        <content name='imagemail157' id='157' > </content>
                    </p>
            </div>
         </div>
    </div>
</section>

<section id="contactusblock4" class="no-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contactusblock4info">
                <h2><content name='contactusblock4h2158' id='158' > </content></h2>
            </div>
        </div>
    </div>
</section>

<script type="text/ng-template" id="contactsuccess.html">

    <div class="newlogin-box">

        <a href="javascript:void(0);" ng-click="cancel()" ><img src=images/newloginclose.png alt=#  class="closebtn"/></a>

        <div class="newloginwrapper">


            <h2 style="text-align:center; font-size: 24px; ">Thank you for contacting with us</h2>


        </div>

    </div>

</script>