<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">The Incredible Story</a></li>
                    <li><a href="#">See Our Creations</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->
<section id="bottom2">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <img src="images/ftlogo.png" alt="img-responsive">
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                Copyright 2016 &copy; Celebrity Headz Bobbleheads. | All Rights Reserved
            </div>
        </div>
    </div>
</footer><!--/#footer-->