<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <ul>
                    <li ng-class="{active: pagename == 'home'}"><a ui-sref="home">Home</a></li>
                    <li ng-class="{active: pagename == 'incredible-story'}"><a ui-sref="incredible-story">The Incredible Story</a></li>
                    <li ng-class="{active: pagename == 'ourcreation'}"><a ui-sref="ourcreation">See Our Creations</a></li>
                    <li ng-class="{active: pagename == 'aboutus'}"><a ui-sref="aboutus">About Us</a></li>
                    <li ng-class="{active: pagename == 'contactus'}"><a ui-sref="contactus">Contact Us</a></li>
                    <li ng-if="userid==0"><a  ng-click="loginopen()" style="cursor:pointer"  class="sublink"> Login </a></li>
                    <li ng-if="userid!=0"><a  style="cursor:pointer" ng-click="logout()"  class="sublink">Logout</a></li>

                </ul>
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->
<section id="bottom2">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <img src="images/ftlogo.png" alt="img-responsive">
            </div><!--/.col-md-3-->
        </div>
    </div>
</section><!--/#bottom-->

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 footerwrapper">
                Copyright 2016 &copy; Celebrity Headz Bobbleheads. | All Rights Reserved
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<script type="text/ng-template" id="loginmodal.html">

    <div id="loginid" class="newlogin-box logpopup ">

        <a href="javascript:void(0);" ng-click="cancel111()" ><img src=images/newloginclose.png alt=#  class="closebtn"/></a>

        <div class="newloginwrapper">
                    <h2>SIGN IN</h2>
                    <form angular-validator-submit="popuplogin()"  name="loginForm"  class="form-horizontal" novalidate angular-validator>

                        <div ng-show="errormsg" class="alert alert-danger alert-dismissible">{{errormsg}}</div>

                        <div class="form-group has-feedback" style="margin-left:0; margin-right:0">

                            <label>Your Email</label>

                            <input type="email" class="form-control" placeholder="Email" style="font-family:Arial, Helvetica, sans-serif;" name="email"

                                   ng-model="form.email"

                                   required-message="'Email can not be blank.'"

                                   invalid-message="'Enter valid email address.'"

                                   required

                            >

                            <span class="form-control-feedback"><img src="../images/icon-email-msg.jpg"></span>

                        </div>

                        <div class="form-group has-feedback" style="margin-left:0; margin-right:0">

                            <label>Your Password</label>

                            <input type="password" class="form-control" placeholder="Password" style="font-family:Arial, Helvetica, sans-serif;" name="password"

                                   ng-model="form.password"

                                   required-message="'Password can not be blank.'"

                                   required

                            >

                            <span class="form-control-feedback"><img src="../images/icon-lock-msg.jpg"></span>

                        </div><!--
                        <div class="checkboxdiv">

                            <label><input type="checkbox" value="">Remember me</label>

                        </div>
-->

                        <div class="row">

                            <div class="col-xs-12" style="padding-top:0px; margin-top:0px;">

                                <button type="submit" class="btn btn-primary btn-block btn-flat loginbtn">Login</button>

                                <!--<a href="javascript:void(0)" ng-click="gotofpassword()" class="forgotpassword">Forgot your password?</a>-->

                            </div>

                        </div>

                    </form>

        </div>

    </div>

</script>